{% extends 'base.html' %}

{% block content %}

<h2>Create User</h2>
<form action="/users/new" method="POST">
    <label for="first-name">First Name
        <input type="text" name="first-name" placeholder="Enter a first name">
    </label>
    <label for="last-name">Last Name
        <input type="text" name="last-name" placeholder="Enter a last name">
    </label>
    <label for="image-url">Image URL
        <input type="text" name="image-url" placeholder="Image URL here">
    </label>
  <button type="submit">Add</button>
</form>

{% endblock %}